<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">OhMyCluster</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Nodes", "/nodes"  %></li>
        <li><%= link_to "Resources", "/resources"  %></li>
        <li><%= link_to "Setting", "/setting"  %></li>
      </ul>
    </div>
  </div>
</div>